<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="restfulBooker" verbose="1" thread-count="1">
    <listeners>
        <listener class-name="com.qe.listeners.RetryListener"/>
<!--        <listener class-name="com.qe.listeners.LoggingTestNGListener"/>-->
    </listeners>

    <test name="Restful-booker-API-Automation" parallel="classes" thread-count="10">
        <packages>
            <package name="com.qe.tests.*"></package>
        </packages>
    </test>
</suite>